@import url('./variables.css');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

body {
    background-color: var(--background-light-01);
}

#root-app-body {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-areas: "SIDEBAR CONTENT";
}


/* ------------------------------ Sidebar Config -------------------------------------- */

#root-sidebar-content {
    grid-area: SIDEBAR;    
    height: 100%;
    width: 15%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: var(--background-primary-01);
    color: var(--background-light);
    box-shadow: 2px 0px 4px var(--background-secondary);
    z-index: 100;
}

#root-sidebar-content .content-logo {
    box-shadow: 0px 0px 3px var(--background-dark);
    width: 100%;
    display: flex;
    justify-content: center;
    height: 5rem;
    align-items: center;
}

#root-sidebar-content img.logo {
    width: 8rem;
    height: 3rem;
    margin-left: 1rem;
}


#root-sidebar-content .menu-content {
    height: 100%;
    overflow-y: auto;
    margin-top: 1.5rem;
}
#root-sidebar-content .menu-content::-webkit-scrollbar {
    width: 0px;
}

#root-sidebar-content .menu-content .sidebar-separate {
    height: 2rem;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: .5rem;
}

#root-sidebar-content .menu-content ul .menu-ancor-link {
    color: var(--text-light);
    text-decoration: none;
}

#root-sidebar-content .menu-content ul .menu-item {
    font-size: 1rem;
    padding: 1rem 1.5rem;
    transition: 1s; 
}

#root-sidebar-content .menu-content ul .menu-item i {
    margin-right: .2rem;
}

#root-sidebar-content .menu-content ul .menu-item:hover {
    background-color: var(--background-primary);
    transform: scale(1.05);
    cursor: pointer;
}

#root-sidebar-content .menu-content .side-dropdown-container {
    background-color: var(--background-primary);
    display: none;
}

#root-sidebar-content .menu-content .side-dropdown-container a {
    border: red;
    text-decoration: none;
}


#root-sidebar-content .menu-content .side-dropdown-container .submenu-item {
    background-color: var(--background-primary);
    color: var(--text-light);
    padding: 1rem 2.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: .5rem;
    font-size: .9rem;
    padding: 1rem 2rem;
    transition: 1s; 
}

#root-sidebar-content .menu-content .side-dropdown-container .submenu-item:hover{
    transform: scale(1.05);
    /* background-color: var(--background-primary-01); */
}

#root-sidebar-content .menu-content .side-dropdown-container .submenu-item i {
    margin-right: .2rem;
}



/* ------------------------------- Page Main Config ------------------------------------- */
#root-page-main {
    grid-area: CONTENT;
    display: grid;
    grid-template-rows: 3rem;
    grid-template-areas: "HEADER" "CONTENTPAGE";    
}



/* ------------------------------- Header Config ------------------------------------- */

#header-content {
    grid-area: HEADER;
    background-color: var(--background-light);
    height: 3rem;
    width: 100%;
    z-index: 1;
    box-shadow: 0px 0px 3px var(--background-dark);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "LOGO MENU";
    align-items: center;  
}

#header-content .button-sidebar {
    margin-left: 1.4rem;
    color: var(--white-primary);
}

#header-content .button-sidebar i {
    cursor: pointer;
    font-size: 1.4rem;
}

#header-content div#menu-dashboard {
}

#header-content div#menu-dashboard ul {
    display: flex;
    justify-content: end;
    margin-right: 1rem;
}

#header-content div#menu-dashboard a {
    text-decoration: none;
    color: var(--white-primary);
    padding-left: 2rem;
    height: 3rem;
    display: flex;
    align-items: center;
}

#header-content div#menu-dashboard li {
    list-style: none;
}


#header-content div#menu-dashboard a.menu-profile-box li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-content div#menu-dashboard a.menu-profile-box li:hover {
    /* background-color: var(); */
    cursor: pointer;
}


/* profile-status */
#header-content div#menu-dashboard a.menu-profile-box li span.img-profile  {
    position: relative;
}

#header-content div#menu-dashboard a.menu-profile-box li span.img-profile img {
    border-radius: 50%;
    border: 3px solid var(--background-primary);
    width: 2.3rem;
    height: 2.3rem;
}

#header-content div#menu-dashboard a.menu-profile-box li span.img-profile span.profile-status {
    position: absolute;
    bottom: -2px; 
    right: -3px;
    color: var(--background-success-01);
    font-size: 1.3rem;
    text-shadow: 0px 1px 1px var(--background-dark);
}


/* ------------------------------- Content Config ------------------------------------- */

#root-content-page {
    grid-area: CONTENTPAGE;
    padding: .5rem;
    z-index: 0;
}

/* Page Header */
#root-page-header {
    background-color: var(--background-light);
    display: flex;
    justify-content: space-between;
    padding: .5rem 1.5rem;
}

#root-page-header h1 {
    font-size: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: .1rem;
}

/* /End Page Header */


/* Page Content -> Content */
.page-content-for-contents {
    background-color: var(--background-light);
    margin-top: 1rem;
    padding: 1rem;
}
/* End Page Content -> Content */